*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
   --main-color: rgb(242,153,11);
   --nav-bg: #080808;
   --bg:#0f0f0f;
   --white: #ffffff;
   --light-grey: #262626;
   --text-color: #ababab;
}

.light-theme{
    --main-color: rgb(242,153,11);
   --nav-bg: rgb(160, 29, 59);
   --bg: #481d24 ;
   --white: #ffffff;
   --light-grey: rgb(160, 29, 59);
   --text-color: rgb(217, 242, 142);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg);
    color: var(--white);
}

.navbar{
    background-color: var(--nav-bg);
}

.nav-links{
    text-decoration: none;
    margin-right: 10px;
    color: white;
    position:relative;
}

.nav-links::after{
    content:'';
    width:0;
    height:3px;
    background: var(--main-color);
    position:absolute;
    left:0;
    bottom:-2px;
    transition: 0.5s;
}

.nav-links.active-link::after{
    width:90%;
}


.nav-links:hover{
    color:var(--main-color);
}

.mode:hover{
    color:var(--main-color);
    cursor:pointer;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 30px;
    background-color: var(--white);
    height: 4px;
    margin:5px 5px;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: url("./assets/bg.png");
    background-size: cover;
    background-position: center;
    position:relative;
    background-attachment: fixed;
}

.main-text h1{
    font-size: 60px;
}


.main-text{
    padding-top: 20%;
    margin-left: 10%;
    font-size: 30px;
}

.main-text span{
    color: var(--main-color);
}

.main-text button{
    margin-top: 5%;
    display: block;
    text-align: center;
    width:fit-content;
    border:1px solid var(--main-color);
    border-radius: 6px;
    padding: 8px 20px;
    background-color:#000000;
    transition: background 0.5s;
    color: var(--white);
    font-weight: 100;
    font-size: 15px;
}

.main-text button:hover{
    background-color:var(--main-color);
}

#about{
    padding: 80px 0;
    color: var(--text-color);
}

.row-contain{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-1{
    flex-basis: 35%;
}

.col-1 img{
    width:fit-content;
    border-radius:15px;
    height: 300px;
}

.col-2{
    flex-basis:60%;
}

.subtitle{
    font-size:60px;
    font-weight:600;
    color: var(--white);
}


.education-tab{
    margin-top: 10px;
    margin-left: 10px;
}


.education-tab a{
    cursor: pointer;
    color: var(--main-color);
    font-size: 24px;
}

.education-tab a span{
    color: var(--text-color);
    font-size: 18px;
}


#skills{
    padding: 50px 0;
    color:var(--main-color);
}

.skill-titles{
    display: flex;
    margin: 20px 0 40px;
}

.skill-links{
    margin-right: 50px;
    font-weight:500;
    font-size: 24px;
    cursor: pointer;
    position: relative;
}

.skill-links::after{
    content:'';
    width:0;
    height:3px;
    background: var(--white);
    position:absolute;
    left:0;
    bottom:-2px;
    transition: 0.5s;
}

.skill-links.active-link::after{
    width:50%;
}

.skill-contents{
    display: none;
    margin-left: 15px;
}

.skill-contents.active-skill{
    display: block;
}

.lang-heading{
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 2px;
}

.progress{
    height: 12px;
    border: 1px solid var(--main-color);
    padding:2px;
    width: 20%;
    margin-bottom:4px;
    border-radius: 50px;
    background-color: var(--bg);
    margin-left:10px;
}

.progress-bar{
    border-radius: 50px;
    font-size: 6px;
}

#Tools ul li{
    list-style: none;
    margin:10px 0;
    color: var(--text-color);
}

#Tools ul li span{
    font-size: 18px;
    color: var(--main-color);
}

#projects{
    padding: 50px 0;
}

.project-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}

.project{
    border-radius:10px;
    position:relative;
    overflow: hidden;
}

.project img{
    width: 100%;
    border-radius:10px;
    display:block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),var(--main-color));
    border-radius: 10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.7s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: var(--main-color);
    text-decoration: none;
    font-size:20px;
    line-height: 60px;
    background:#fff;
    width:60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}

.button{
    display: block;
    text-align: center;
    margin: 50px auto;
    width:fit-content;
    border:1px solid var(--main-color);
    border-radius: 6px;
    padding: 14px 50px;
    color: white;
    font-weight: 600;
    transition: background 0.5s;
}

.container a{
    text-decoration: none;
}

.button:hover{
    background-color: var(--main-color);
}


.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}

.contact-left h4{
    margin-top: 30px;
}

.button.btn{
    display:inline-block;
    background: var(--main-color);
}

.contact-left h4 i{
    color:var(--main-color);
    margin-right: 15px;
    font-size: 25px;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width:100%;
    border:0;
    outline:none;
    background: var(--light-grey);
    padding:15px;
    margin: 15px 0;
    color: var(--white);
    font-size: 18px;
    border-radius: 6px;
}

.copyright{
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 15px 0;
    background: var(--light-grey);
    font-weight: 300;
}

#span{
    color:greenyellow;
    margin-top:-40px;
    display:block;
}

.social-icons{
    width: 100%;
    margin-top: 35px;
}

.social-icons ul li{
    display: inline-block;
}

.social-icons ul li a{
    color: var(--main-color);
    padding:0 1rem;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    border-radius:6px;
    border: 1px solid var(--main-color);
    text-align: center;
    transition: all 0.3s ease-out 0s;
}

.social-icons ul li a:hover{
    color: var(--white);
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.social-icons ul li a span{
    display: inline-block;
    white-space: nowrap;
    transform: translateX(1rem);
    max-width: 0;
    overflow: hidden;
}

.social-icons ul li a span::after{
    content: '';
    margin-right: 1rem;
}

.social-icons ul li a:hover span{
    max-width: 100%;
}


@media only screen and (max-width:1100px) {
    .main{
        background-image: url("./assets/bg-small.jpg");
    }
    .main-text{
        padding-top: 30%;
        font-size:10px;
    }
    .main-text button{
        font-size: 8px;
    }
    .main-text h1{
        font-size: 20px;
    }

}


@media only screen and (max-width:820px) {
    .navbar-brand{
        flex-direction: column;
        align-items: center;

    }
    .navbar{
        height:400px;
        transition: all 0.7s ease-in-out;
    }
    .nav{
        flex-direction: column;
        text-align: center;
    }
    .container-fluid{
        flex-direction: column;
        align-items: center;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 85px;
    }
    .v-class{
        opacity: 0;
    }
    .nav-links.active-link::after{
        width:0;
    }

    .active-link{
        color: var(--main-color);
    }

    .subtitle{
        font-size: 20px;
    }
    .col-1{
        margin-bottom: 10px;
    }

    .col-1 img{
        height: 180px;
    }
    .col-1,.col-2{
        flex-basis: 100%;
    }
    .col-2{
        font-size: 12px;
    }
    .contact-left,.contact-right{
        margin-left: 0;
        flex-basis: 100%;
    }

    .main-text button{
        display: none;
    }
}